
.avo {
    font-size: 16px;
}

.pai {
    width: 50vw;
    height: 50vh;
    background-color: #0000ff;
    color: #ffffff;
    font-size: 2em;
}

.filho {
    width: 50%;
    height: 50%;
    background: red;
    color: white;
    font-size: 2em;
}